.container {
  display: block;
  width: 100%;

  border: 1px solid #ccc;
  margin: auto;
  border-radius: 10px;
  position: relative;
  background: white;
}

details {
  cursor: auto;
}
summary {
  cursor: pointer;
}
.defectDescription > h3 {
  text-align: center;
}
.defectDescription > ul {
  margin: 0px;
  font-size: 1em;
}

.hypothesesFound {
  background-color: #9cc320;
  padding: 0.5em;
  font-size: 1em;
  text-align: center;
}

.hypothesesNoFound {
  background-color: #ffa50a;
  padding: 0.5em;
  font-size: 1em;
  text-align: center;
}
.hypotheses {
  padding: 0.5em;
}

.hypotheses > h3 {
  text-align: center;
  /* make fancy border  for section */
}

.hypotheses > details {
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.hypotheses > details[open] {
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.hypotheses > details[open] > summary {
  margin-bottom: 0px;
  font-weight: 500;
}

.tellMeMore {
  display: block;
  font-size: 0.7em;
  text-align: right;
  font-weight: bold;
  color: black;
  opacity: 1;
  text-decoration: underline;
}
.hypotheses > details[open] > summary > .tellMeMore {
  display: none;
}

.description {
  font-size: 0.9em;
}

.evidenceList > summary {
  margin: 15px;
  font-size: 0.9em;
}

.fix > summary {
  padding: 15px;
  font-size: 0.9em;
}

.description {
  padding: 0.5em;
  border-radius: 3px;
  font-size: 0.9em;
  margin: 0.5em;
}
.eventItem {
  font-size: 0.9em;
  margin-left: 0.7em;
  padding-left: 0.7em;
}

.hypothesis_Description {
  padding: 0.7em;
}

.hypothesis_Evidence {
  padding: 0.7em;
}
