@keyframes glowing {
  0% {
    background-color: #fff;
    box-shadow: 0 0 3px #fff;
  }
  50% {
    background-color: #f58484;
    box-shadow: 0 0 40px #f58484;
  }
  100% {
    background-color: #fff;
    box-shadow: 0 0 3px #fff;
  }
}
#recording {
  animation: glowing 1500ms infinite;
}

/*  make a record button red and glowing */

.record > button {
  margin: 0 auto;
  display: block;
  /* make it circle */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  /* make it big */
  font-size: 1em;
  /* make it bold */
  font-weight: bold;
  /* make it colorful */
  background-color: white;
  color: #ff0000;
  /* make it pretty */
  border: 5px solid #ff0000;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  /* make it smooth */
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.record > button:hover {
  background-color: rgb(196, 0, 0);
  color: #f0f0f0;
  transform: scale(1.1);
  cursor: pointer;
}
