@keyframes glowing {
  0% {
    background-color: rgba(253, 33, 4, 0.1);
    box-shadow: 0 0 3px rgba(255, 179, 80, 0.1);
  }
  50% {
    background-color: rgba(255, 89, 80, 0.3);
    box-shadow: 0 0 40px rgba(255, 179, 80, 0.1);
  }
  100% {
    background-color: rgba(253, 33, 4, 0.1);
    box-shadow: 0 0 3px rgba(255, 179, 80, 0.1);
  }
}
#recording {
  animation: glowing 1s infinite;
  border: 2px solid #ff0000;
}

.record > button {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 1em;
  font-weight: bold;
  background-color: white;
  color: #ff0000;
  border: 2px solid black;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.record > button:hover {
  background-color: rgb(196, 0, 0);
  transform: scale(1.1);
  cursor: pointer;
}
.stopRecording {
  background-color: #ff0000;
  transform: scale(1.1);
  cursor: pointer;
  font-size: 0.1em;
}
