.timeline {
  display: grid;
  grid-template-rows: 1fr;
}
.timeline__item {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}
.dot {
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
  grid-template-rows: 1fr 5fr;
}
.dot__button {
  cursor: pointer;
  border-radius: 50%;
  font-size: 1em;
  font-weight: bold;
  background-color: white;
  color: #ff0000;
  border: 1px solid gray;
  transition: all 0.1s ease-in-out;
}
.dot__button:hover {
  background-color: #f0f0f0;
}
.dot__line {
  /* make it black line */
  display: block;
  width: 0%;
  height: 100%;
  border-color: gray;
  border-style: dashed;
  transition: all 0.1s ease-in-out;
}

.content__coverage {
  margin-left: 10px;
}
