.hypothesis-time-line {
  display: grid;
  grid-template-columns: 5.5rem 2rem auto;
  grid-template-rows: 1fr;
  padding: 10px;
}
.timeLine {
  grid-template-columns: 1fr;
  overflow-y: auto;
  max-height: 90vh;
  padding: 10px;
}

.timeLine__item__dot {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.timeLine__item__dot:hover {
  background-color: lightgray;
}

.timeLine__item__dot > img {
  width: 100%;

  object-fit: cover;
}
.timeLine__item__box {
  max-height: 90vh;
  min-height: 90vh;
  overflow: auto;
  grid-column: 3;
  position: relative;
  align-items: center;
  justify-content: center;
}
.timeLine__item__dot--noEvidence {
  opacity: 0.2;
}

.timeLine__item__box_arrow {
  grid-column: 2;
  content: '';
  position: relative;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 30px solid rgb(2, 2, 2);
  border-bottom: 15px solid transparent;
  transition: all 0.5s ease-in-out;
}

.timeLine__item__dot__badges {
  position: relative;
  left: 2px;
  top: -70px;
  float: right;
  background-color: red;
  color: white;
  border-radius: 20%;
  padding: 0.5px;
  border: 1px solid #000;
  animation: glowing 2s infinite;
}

.timeLine__item__line {
  content: '';
  display: inline-block;
  width: 0.2rem;
  height: 25px;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  display: block;
}
/* last dot */
.timeLine__item__line:last-child {
  display: none;
}

@keyframes glowing {
  0% {
    background-color: red;
    color: white;
  }

  50% {
    background-color: white;
    color: red;
  }

  100% {
    background-color: red;
    color: white;
  }
}
