.timeLine__item__box__content {
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
  min-height: 100vh;
  background-color: white;
}

.warning {
  color: white;
  background-color: rgb(175, 3, 3);
  padding: 5px;
  border-radius: 10px;
  margin: 5px;

}

.found {
  color: white;
  background-color: rgb(0, 139, 185);
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}

.missing {
  color: white;
  background-color: rgb(255, 165, 0);
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}
