@keyframes glowing {
    0% {
      background-color: #a80505;
      box-shadow: 0 0 2px #a80505;
    }
    50% {
      background-color: #e40b0b;
      box-shadow: 0 0 7px #e40b0b;
    }
    100% {
      background-color: #a80505;
      box-shadow: 0 0 2px #a80505;
    }
  }
  #recording {
    animation: glowing 1300ms infinite;
  }
